{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Usr{% endblock %}

{% block example %}
    <div class="row">
        <div class="col-sm-6">
            <div class="bg-light p-5 rounded">
                <h1>Navbar example</h1>
                <p class="lead">
                    This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, 
                    this navbar remains in its original position and moves with the rest of the page.
                </p>
                <a 
                    class="btn btn-lg btn-primary" href="/docs/5.1/components/navbar/" role="button"
                >
                    View navbar docs &raquo;
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <iframe 
                width="560" height="315" src="https://www.youtube.com/embed/PgpkiLSNVeg" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="text-color">
        {{ titulo }}
        <hr/>
        <br/>
        <form method="POST" action="">
            {% csrf_token %}
            {{ formm | crispy }}
            <hr/> <!--Salto de línea mediante una línea horizontal-->
            <input type="submit" value="Registrar" class="btn btn-success">
        </form>
    </div>
{% endblock %}