{% block navbar%}
                
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Teoelcrack</a>
        <button 
            class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" 
            aria-expanded="false" aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                {% if request.user.is_authenticated %}    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'galery' %}">Galery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="/accounts/logout/">
                            <button class="btn btn-outline-success btn-sm">
                                Log out from {{ user }}
                                <i 
                                    class="fa-solid fa-right-from-bracket fa-beat-fade" 
                                    style="--fa-beat-fade-opacity: 0.67; --fa-beat-fade-scale: 1.075;" 
                                ></i>
                            </button>
                        </a>
                    </li>
                
                <li>||</li>
                {% else %}

                    <li>
                        <a href="/accounts/login/">
                            <button class="btn btn-outline-success btn-sm">
                                Login 
                                <i 
                                    class="fa-solid fa-right-from-bracket fa-beat-fade" 
                                    style="--fa-beat-fade-opacity: 0.67; --fa-beat-fade-scale: 1.075;" 
                                ></i>
                            </button>
                        </a>
                    </li>
                {% endif %}
            </ul>
    </div>
</nav>
{% endblock %}